<%= content_for(:publisher_content) do %>
    <div class="row">
      <div class="span8  branch_post">
        <div class="posts" id="broadcast_for_<%= dom_id(@branch_details)%>">
          <% if @branch_details.private? && current_user && current_user.member_of?(@branch_details) %>
                  <%= render @broadcast %>
          <% elsif !@branch_details.private? %>
                  <%= render @broadcast %>
          <% else %>

              <p class="alert alert-error">
                This is a private branch. Only members of this branch are allowed to view broadcasts, members and receive sms broadcasts
                from this branch. <%= link_to branch_memberships_path(@branch_details), :method => 'post', class: "btn btn-mini btn-warning" do %>
            <span class="leaf-add">
              <i class="icon-leaf"></i>
              <i class="icon-plus"></i>
            </span>
                <% end %>
              </p>
          <% end %>

        </div>
      </div>
      <div class="span4 side_bar">
        <%= render "branches/recommended_branches", branch: @branch_details %>
        <%= render "sponsored_branches" %>
      </div>
    </div>
<% end %>