<li class="info_block">
  <a class="avatar">
    <img src="<%= branch.icon(:thumb) %>" height="50" width="50">
  </a>
  <div class="info">
    <h6 class="light_header ui-inline-text"><%= link_to branch.name, branch  %></h6>
    <p class="meta">
      <span class="tree"><i class=" icon-sitemap"></i> <span class=""> <%= branch.children.size %></span></span>
      <span class="dot"></span>
      <span class="leaf"><i class="icon-leaf"></i> <span class=""> <%= branch.memberships_count %></span></span>
    </p>
    <div class="categories">
      <p class=" meta">Categories:
        <% branch.categories.first(2).each do |category| %>
            <%= link_to category.name, category %><% unless category == branch.categories.first(2).last %>,<% end %>
        <% end %>
      </p>
    </div>
  </div>
</li>